.about{
  width: 100%;
  display: flex;
  justify-content: center;
  background: #F5F6F7;
  padding-top: 90px;
  padding-bottom: 100px;
}

.about__container{
  display: flex;
  justify-content: center;

}

.about__content{
  max-width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}


.about__img{
  width: 550px;
  object-fit:cover;
}

.about__heading{
  max-width: 100%;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 133%;
  margin: 0;
  color: #0f5edb;
  margin-bottom: 20px;
}

.about__text{
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 133%;
  color: #1A1B22;
  margin-top: 0;
}

.about__button{
  width: 200px;
  background: #0f5edb;
  border-radius: 50px;
  color: white;
  border: none;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 133%;
  transition-duration: 0.3s; 
  margin-top: 20px;
  cursor: pointer;
}

.about__button:hover{
  background: #2F71E5;
}
