.dashboard{
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
}

.dashboard__container{
  width: calc(100% - 100px);
  background: lightgray;
  height: 1000px;
}

.dashboard__heading{
  background: white;
  margin-top: 20px;
}
