.dashboard{
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.dashboard__container{
  width: calc(100% - 100px);
  background: #F5F6F7;
  height: 800px;
}

.dashboard__heading{
  background: white;
  margin-top: 20px;
}
